<nav class="navbar col-md-12 md-12">
  <div class="container-fluid d-flex justify-content-start position-relative">

    <button class="navbar-toggler me-2" type="button" (click)="toggleMenu($event)" aria-label="Abrir menu">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
           class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 
                 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 
                 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 
                 0 0 1-.5-.5m0-4a.5.5 0 0 1 
                 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
      </svg>
    </button>

    <div class="menu-container" [class.active]="isMenuOpen" (click)="$event.stopPropagation()" id="navbarNav">
      <div class="menu-header">
        <img src="/img/ford.png" alt="Ford Logo" class="menu-logo col-md-6 md-6" (click)="closeMenu()" />
      </div>

      <ul class="navbar-nav ms-3">
        <li class="nav-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/home" (click)="closeMenu()">Home</a>
        </li>

        <li class="nav-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/sobre" (click)="closeMenu()">Dashboard</a>
        </li>
      </ul>
    </div>

    <div class="overlay" *ngIf="isMenuOpen" (click)="closeMenu()"></div>
  </div>
</nav>
