<nav class="navbar col-md-12 md-12">
  <div class="container-fluid d-flex justify-content-start position-relative col-md-10 md-10">

    <button class="navbar-toggler me-2" type="button" (click)="toggleMenu($event)" aria-label="Abrir menu">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
           class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 
                 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 
                 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 
                 0 0 1-.5-.5m0-4a.5.5 0 0 1 
                 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
      </svg>
    </button>

    <div class="menu-container col-md-2 md-2" [class.active]="isMenuOpen" (click)="$event.stopPropagation()" id="navbarNav">
      <div class="menu-header">
        <img src="/img/ford.png" alt="Ford Logo" class="menu-logo col-md-6 md-6" (click)="closeMenu()" />
      </div>

      <ul class="navbar-nav ms-3">
        <li class="nav-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/home" (click)="closeMenu()">Home</a>
        </li>

        <li class="nav-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/dashboard" (click)="closeMenu()">Dashboard</a>
        </li>
      </ul>
    </div>

    <div class="overlay col-md-12 md-12" *ngIf="isMenuOpen" (click)="closeMenu()"></div>
  </div>
  <div class="col-md-2 md-2 deslogar-btn">
    <button (click)="logout()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-down" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5M8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6"/>
      </svg>
    </button>
  </div>
</nav>
