<main class="teste col-md-12 md-12">
    <app-menu-hamburguer></app-menu-hamburguer>
    <section class="col-md-12 md-12 cards">
        <div class="col-md-12 md-12 titulo-dashboard">
            <h1>Dashboard FORD</h1>
        </div>
        <div class="card quadro col-md-2 md-2">
            <div class="col-md-12 md-12 quadro-titulo">
                <h5>Veiculo</h5>
            </div>
            <div class="col-md-12 md-12 quadro-info centro">
                <select class="form-select" name="" id="">
                    <option value="">Froid</option>
                </select>
            </div>
        </div>
        <div class="card quadro col-md-2 md-2">
            <div class="col-md-12 md-12 quadro-titulo">
                <h5>Total de Vendas</h5>
            </div>
            <div class="col-md-12 md-12 quadro-info">
                <h2>500</h2>
                <h6>Unid</h6>
            </div>
        </div>
        <div class="card quadro col-md-2 md-2">
            <div class="col-md-12 md-12 quadro-titulo">
                <h5>Conectados</h5>
            </div>
            <div class="col-md-12 md-12 quadro-info">
                <h2>500</h2>
                <h6>Unid</h6>
            </div>
        </div>
        <div class="card quadro col-md-2 md-2">
            <div class="col-md-12 md-12 quadro-titulo">
                <h5>Update Software</h5>
            </div>
            <div class="col-md-12 md-12 quadro-info">
                <h2>500</h2>
                <h6>Unid</h6>
            </div>
        </div>
        <div class="banner col-md-12 md-12">
            <img src="img/ranger.png" alt="">
        </div>
    </section>
    <section class="col-md-12 md-12 section__tabela-veiculos">
        <table class="col-md-12 md-12 tabela-veiculos">
            <tr class="tabela-veiculos-titulo">
                <th>Código - Vin</th>
                <th>Odômetro</th>
                <th>Nível de Combustível</th>
                <th>Status</th>
                <th>Lat.</th>
                <th>Long.</th>
            </tr>
            <tr class="tabela-veiculos-dados">
                <td><input type="text" name="" id=""></td>
                <td>10000 Km</td>
                <td>25 %</td>
                <td>off</td>
                <td>-12,2322</td>
                <td>-35,2314</td>
            </tr>
        </table>
    </section>
</main>